body {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    min-height: 100%;
    box-sizing: border-box;
    transition: all .1s ease-in; 
}

header {
    padding-top: 40px;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}
form {
	width: auto;
	height: 100%;
	white-space: nowrap;
	font-size: 0;
}
input {
    width: 90%;
    height: 100%;
    font-size: 30px;
    border: 0;
    background: transparent;
	color: #ec5a62;
	font-weight: bold;
	border: 0;
	font-size: 95px;
    outline:none;
}
input::placeholder {
    color: #d7d7d7;
  }
  
button {
    background-image: url(favicon.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100%;
    opacity: .7;
    width: 80px;
    height: 80px;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
button, input {
	vertical-align: middle;
}

main {
    
    width: 90%;
    max-width: 1300px;
    display: inline-block;
    margin: 0 4%;
}

.column {
    font-size: 16px;
    width: 30%;
    padding: 0 0 75px;
    display: inline-block;
}
.column:nth-child(2) {
	margin: 0 4.5%;
}

h2 {
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 800;
	color: #c2c2c2;
}
.list{
	padding: 0;
	margin: 0;
	list-style: none;
}

.list a {
    padding: 12px;
	display: block;
	margin: 10px 0;
	cursor: pointer;
	border-radius: 7px;
	background: #7675800d;
	color: #919191b3;
}

.list a:hover{
	color: #EC5A62;
}
.list a:hover,
.list a:focus {
	background: #7675801a;
}
.list img {
	display: inline-block;
	width: 50px;
	margin: 0 10px 0 0;
	vertical-align: middle;
}
.list h3 {
	vertical-align: middle;
	font-size: 0.85em;
	display: inline-block;
	font-weight: 700;
	margin: 0 0 0 0;
	color: inherit;
}
